<div>
    <span [ngStyle]="{'color': 'blue', 'font-weight': condition? 'bold':'700'}"><h1>Crypto Currency Analyser</h1></span>
 
</div>
<div>
  
  <mat-card title="Bitcoin is a cryptocurrency, a form of electronic cash.  &#13; It is a decentralized digital currency without a central bank &#13; or single administrator that can be sent from user-to-user on &#13; the peer-to-peer bitcoin network without the need for intermediaries" 
  
  (click)="navigate($event)" class="currency-card">
    <img mat-card-image   src="../../assets/bitcoin-icon.svg" class="image-class" alt="BTC">
    <mat-card-footer>
      <mat-card-title class="title"> BITCOIN </mat-card-title>
    </mat-card-footer>
  </mat-card>

  <mat-card  (click)="navigate($event)" class="currency-card">
    <img mat-card-image src="../../assets/ethereum-icon.svg" class="image-class" alt="BTC">
    <mat-card-footer>
      <mat-card-title class="title"> ETHEREUM </mat-card-title>
    </mat-card-footer>
  </mat-card>

  <mat-card appMaterialElevation (click)="navigate($event)" class="currency-card">
    <img mat-card-image src="../../assets/litecoin-icon.svg" class="image-class" alt="BTC">
    <mat-card-footer>
      <mat-card-title class="title"> LITECOIN </mat-card-title>
    </mat-card-footer>
  </mat-card>
</div>