<div>
  <mat-card (click)="navigate($event)" class="currency-card">
    <img mat-card-image src="../../assets/bitcoin-icon.svg" class="image-class" alt="BTC">
    <mat-card-footer>
      <mat-card-title class="title"> BITCOIN </mat-card-title>
    </mat-card-footer>
  </mat-card>

  <mat-card (click)="navigate($event)" class="currency-card">
    <img mat-card-image src="../../assets/ethereum-icon.svg" class="image-class" alt="BTC">
    <mat-card-footer>
      <mat-card-title class="title"> ETHEREUM </mat-card-title>
    </mat-card-footer>
  </mat-card>

  <mat-card (click)="navigate($event)" class="currency-card">
    <img mat-card-image src="../../assets/litecoin-icon.svg" class="image-class" alt="BTC">
    <mat-card-footer>
      <mat-card-title class="title"> LITECOIN </mat-card-title>
    </mat-card-footer>
  </mat-card>
</div>